body {
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  color: rgb(131, 144, 157);
  background: rgb(240, 244, 244);
  }
h1, h2 {
  margin-bottom: 5px;
  font-weight: normal;
  text-align: center;
  color:#aaa;
}
h2 {
  margin: 5px 0 2em;
  color: #1ABC9C;
}
form {
  width: 288px;
  margin: 0 auto;
}

.file-container {
  position: relative;
  width: 288px;
  text-align: center;
} 
 .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
 .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 288px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
 .input-file:hover + .input-file-trigger{
  background: rgb(48, 69, 89);
  color: #39D2B4;
}


  /*

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
 .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
 .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

  .reg-input{
    width: 245px;
    height: 30px;
  }
  .reg-input::-webkit-input-placeholder {
    text-align: center;
    font-family: "Open sans"
 } */
 
 .reg-input {
  height: 3em;
  width: 18em;
  border: none;
  border-left:  #39D2B4 solid 8em;
  background:white;
  color: #111;
  transition: 100ms ease-out all;
  display: block;
  position: relative;
}
.reg-select{
  height: 3em;
  width: 26em;
  border: none;
  border-left:  #39D2B4 solid 8em;
  background:white;
  color: #111;
  transition: 100ms ease-out all;
  display: block;
  position: relative;
  cursor: pointer;
}
.reg-select:focus{
  border-left: rgb(48, 69, 89)  5em solid
}

.reg-select-label{
  position: relative;
  top: -25px;
  left: 5px;
  color: white;
}

.reg-input:focus {
  outline: none;
  border-left: rgb(48, 69, 89)  3em solid;
  background: #fff;
  transition: 100ms ease-out all;
}

.reg-input + label {
  /*
  position: relative;
  top: -2.9em;
  left: 2.2em;
  font-size: 11px;
  color: #eee;
  */

    top: -25px;
    left: 5px;
    position: relative;
    /* top: -2.9em; */
    /* left: 2.2em; */
    /* font-size: 11px; */
    color: white;
}

.reg-input:focus + label {
  left: -20em;
}

.reg-inputs-container{
 padding-top: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 288px;
  height: 0.25rem;
  outline: none;
  border-radius: 0.25rem;
  background-color: #39D2B4;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color:white;
  border: 0.25rem solid  #39D2B4;
  border-radius: 1rem;
  cursor: pointer;
}
.range-label{
  text-align: center;
  font-family: "Comic Sans MS";
}
#quality-value{
  font-size: 20px;
  font-family: Courier New;
  font-weight: bold;
}
.reg-checkbox-width{
  position: relative;
    top: 26px;
    left: -20px;
}
.reg-checkbox-height{
  position: relative;
  top: 26px;
  left: -97px;
}
input:disabled{
  background-color: rgb(193, 193, 193);
}
.image-logo{
  margin-right: 2px;
  font-size: 25px;
  color: #868686;
  font-family: "Lucida Console", Monaco, monospace;
}
.m8{
  font-size: 30px;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  color: #39d2b4;
}
.logo-container{
  max-width: 288px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.info{
  font-style: italic;
  font-size: 10px;
  max-width: 288px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}
.more-container{
  margin: 0 auto;
  width: 288px;
  padding-top: 10px;
}
.choose-folder{
  transition: all .4s;
  background: #39D2B4;
  height: 46px;
  color: white;
  border-color: #39D2B4;
  width: 200px;
}
.choose-folder:hover{
  background: rgb(48, 69, 89);
  color: #39D2B4;
  border-color:  rgb(48, 69, 89);
  cursor: pointer;
}
.force-png{
  font-size: 14px;
  font-family: "Comic Sans MS";

}
#forceJpg{
  cursor: pointer;
}
.export-folder{
  font-size: 10px;
  font-family: "Comic Sans MS";
  padding-top:5px;
}